# Variables d'environnement
.env
.env.local

# Rails
rails_app/coverage/
rails_app/tmp/
rails_app/log/
rails_app/storage/
rails_app/public/packs/
rails_app/public/assets/
rails_app/node_modules/

# Python
python_services/**/__pycache__/
python_services/**/*.pyc
python_services/**/.pytest_cache/
python_services/**/venv/
python_services/**/.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DevContainer
.devcontainer/.env
